<div style="margin-top: 10px;">
  <input type="text" [(ngModel)]="username" placeholder="Change username" disabled />
</div>

<div style="margin-top: 10px;">
  <button type="button" (click)="onChangeUser(0)">John</button>
  <button type="button" (click)="onChangeUser(1)" style="margin-left: 5px;">Jane</button>
</div>

<h3>angular2-qrcode</h3>

<div>
  <qr-code [value]="qrData" [size]="150" foreground="orange"></qr-code>
</div>

<h3>angularx-qrcode</h3>

<div>
  <qrcode [qrdata]="qrData" [width]="200" colorDark="#005c84db"></qrcode>
</div>

<router-outlet></router-outlet>
